<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Form </title>
</head>
<body>

<form th:action="@{/savetest}" th:object="${test}" method="post">
    <input type="hidden" th:field="*{id}">

    subject <input type="text" th:field="*{subject}" />
    <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" ></span> <br />
    Score <input type="number" th:field="*{score}" />
    <span th:if="${#fields.hasErrors('score')}" th:errors="*{score}" ></span> <br />
    Date <input type="text" th:field="*{date}" />
    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" ></span> <br />
    <!--Student <input type="text" th:field="*{student}">-->
    <select th:field="*{student}">

        <option th:value="${student.id}" th:each="student:${students}"> [[${student.firstName}]]  </option>

    </select>

    <span th:if="${#fields.hasErrors('student')}" th:errors="*{student}" ></span> <br />

    <br />
    <input type="submit" value="Add Test">

</form>

</body>
</html>